::selection {
  background-color: #a2f5a9; 
  color: #000; }

::-moz-selection {
  background-color: #a2f5a9;
  color: #000;
}

.circle-back{
  width: 38rem;
  height: 38rem;
  border-radius: 20.25rem;
  z-index: 1;
}

.circle-front{
  width: 30rem;
  height: 30rem;
  border-radius: 20.25rem;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.circle{
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 24.3125rem;
  height: 45.0625rem;
  z-index: 3;
  transition-duration: 500ms;
}
.hero-image:hover {
  width: 24.9375rem;
  height: 46.1875rem;
  transition-duration: 500ms;
}

.button-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 14.3125rem;
  height: 4.1875rem;
  font-size: 1rem;
  border-radius: 0.5625rem;
  background: rgba(0, 0, 0, 0); /* Adjust the transparency as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-weight: normal;
  transition-duration: 500ms;
}
.overlay:hover{
  background: rgba(0, 0, 0, 1); /* Adjust the transparency as needed */
  color: #fff;
  transition-duration: 500ms;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}


