@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: 'Rubik', sans-serif;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #FAF9F6;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: #a2f5a9; 
    color: #000; }
  
  ::-moz-selection {
    background-color: #a2f5a9;
    color: #000;
  }
